# --- System & Environment (Junk) ---
.venv/
.idea/
__pycache__/
*.pyc

# --- Files to Exclude ---
# Exclude all images
*.png
*.jpg
*.jpeg
*.svg

# Exclude PDFs
*.pdf

# Exclude main execution files
main.py
main2.py
main3.py