.venv/
.idea/
__pycache__/
*.pdf
main.py
main2.py
main3.py
1D Bar PINO Train.png
1D Heat Deep 2.png
1D Heat Deep1.png
1D Heat Deep Training.png
1D Heat compare.png
1DBAR DEEP vs FNO.png
1DBARDEEPONET.png
Figure_1.png
PINO Error.png